.hero {
    background-image: url("../../images/img1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
  }
  .hero .container {
    padding-top: 15%;
  }
  .hero h1 {
    color: #f4f4f4;
    font-size: 60px;
  }
  .hero p {
    color: #f4f4f4;
    opacity: 0.9;
  }
  .heading{
    text-align: center;
    width: 60%;
    margin: auto;
  }
  .heading h1{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 35px;
  }
  @media screen and (max-width: 800px) {
    .hero .container {
      padding-top: 30%;
    }
  }